@import './styles'
@import './styles/variable'
*
*::before
*::after
  box-sizing border-box
  user-select none
body
  margin 0 auto
  padding 0
  width 100%
  font-size 12px
  overflow hidden
p
  margin 0
  line-height 1.5
code
  margin 0 2px
  padding 2px 4px
  border-style solid
  border-width 1px
  border-radius 4px
  &.blue
    color $color-info
#app
  height 100vh
  -webkit-overflow-scrolling touch
  -webkit-font-smoothing antialiased

/* 滚动条 */
::-webkit-scrollbar
  width 6px /*滚动条的宽度*/
  height 6px /*滚动条的高度*/
::-webkit-scrollbar-thumb
  background-color #b8b8b8
  border-radius 4px
  &:hover
    background-color #999
